.demo
  height 300px
  max-width 300px

*
  word-break break-all

html
  -webkit-font-smoothing antialiased

.inside
  height 400px
  overflow hidden

.demo
  background red

[data-sc-role='content']
  margin-right -100px
  overflow-x hidden
