[data-sc='root']
  height 300px
  max-width 300px

[data-sc-initialized='false']
  [data-sc='scrollbar-thumb-vertical']
    opacity 0

[data-sc='scrollbar-vertical']
  background gray
  width 10px

[data-sc='scrollbar-thumb-vertical']
  height 10px
  transition opacity 0.3s

p
  margin 0
  padding 0
