$padding = 20px // enough space to hide the native scrollbar

[data-sc-role='root']
  // overflow hidden // hide the native scrollbar
  position relative // needed?

[data-sc-role='content']
  display block
  margin-right -1 * $padding // pull the native scrollbar to the right so we won't be able to see it
  max-height 100% // Needed for vertical scroll to trigger
  max-width 100% // Not required for horizontal scroll to trigger
  overflow scroll // Scroll on this element otherwise element can't have a padding applied properly
  padding-right $padding
  position relative // so that the absolute positioned scrollbar stays inside the content

[data-sc-role='scrollbar']
  bottom 0 // take up full height
  pointer-events none // content below the scrollbar should be clickable?
  position absolute // position it above the content
  right 0 // default layout is ltr (left to right)
  top 0 // take up full height

[data-sc-role='scrollbar-track']
  height 100% // take up full height
  width 100% // take up full width

[data-sc-role='scrollbar-thumb']
  will-change transform // hint to the browser that this attribute will most likely change
