$padding = 20px // enough space to hide the native scrollbar

[data-sc-role='root']
  // overflow hidden // hide the native scrollbar
  position relative

[data-sc-role='content']
  display block
  margin-right -1 * $padding // pull the native scrollbar to the right so we won't be able to see it
  max-height 100% // Needed for vertical scroll to trigger
  max-width 100% // Not required for horizontal scroll to trigger
  overflow scroll // Scroll on this element otherwise element can't have a padding applied properly
  padding-right $padding
  position relative

[data-sc-role='scrollbar']
  background rgba(33, 100, 22, 0.5)
  bottom 0
  pointer-events none
  position absolute
  right 0
  top 0
  width 11px

[data-sc-role='scrollbar-track']
  height 100% // take up full height
  width 100% // take up full width

[data-sc-role='scrollbar-thumb']
  background black
  will-change transform // hint to the browser that this attribute will most likely change
