// some demo styles to make the scrollbar visible
[data-sc-role='scrollbar']
  background #bbb
  width 11px

[data-sc-role='scrollbar-thumb']
  background #333
  transition height 0.2s // animate height of scrollbar thumb when the height of the content changes
